@import "../../css-root/root.css";
.header-main-modal .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #1b1036;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    border: 2px solid #1b1035;
}
.header-main-modal .popup-box-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 73%;
    height: 100%;
    background-image: -webkit-linear-gradient(90deg, #0de2a3 0, #0de2a3 100%);
}

.header-main-modal .modal-dialog {
    max-width: 1170px !important;
    margin: 1.75rem auto !important;
}

.header-main-modal .modal-header .btn-close {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    opacity: 1;
    font-weight: 600;
    font-size: 18px;
    color: #000 !important;
    text-shadow: none;
    background-color: #fff !important;
    border: 2px solid #cbcbcb;
    top: -18px;
    right: -20px
}

.header-main-modal .modal-header {
    padding: 0px !important;
}

.header-main-modal .modal-header {
    padding: 0px !important;
    border-bottom: none;
}

.popup-form-box-wrap {
    position: absolute;
    padding: 25px 0;
    background-color: #1b1035;
    right: 0;
    top: 50%;
    border: 4px solid #16e2a4;
    transform: translateY(-50%);
    padding-left: 26px;
}

.popup-form-box-wrap {
    position: absolute;
    padding: 25px 0;
    background-color: #1b1035;
    right: 0;
    top: 50%;
    border: 4px solid #16e2a4;
    transform: translateY(-50%);
    padding-left: 26px
}

.popup-form-box-wrap h3 {
    font-size: 38px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 58px
}

.popup-form-box-wrap h3 span {
    color: #16dca2;
    font-size: 74px;
    font-weight: 900
}

.popup-form-box-wrap p {
    color: #ffffff;
    font-size: 15;
    text-transform: uppercase;
    font-weight: 600
}