
.main-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.main-header .navbar {
    padding: 20px 30px;
    background-color: blue;
    border-bottom: 2px solid #000;
}

.navbar-nav .nav-link {
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
    padding: 0px 20px !important;
}

.navbar-nav .nav-link:hover {
    color: #0de2a3 !important;
}

.dropdown-menu {
    min-width: 250px !important;
    border-radius: 0 !important;
    padding: 0px !important;
    top: 180% !important;
    left: -50px !important;
}

.dropdown-item {
    border-top: 1px solid #1b1037 !important;
    color: #000 !important;
    padding: 12px 24px !important;
}

.dropdown-item:hover {
    background-color: #1b1037 !important;
    color: #fff !important;
}

.navbar-brand {
    width: 15%;
}

.navbar-brand img {
    width: 100%;
}

.top-detail a {
    display: flex;
}


@media screen and (max-width: 1200px) {
    .navbar-nav .nav-link {
        font-size: 14px !important; 
        padding: 0px 15px !important;
    }

    .navbar-brand {
        width: 25%;
    } 
}

@media screen and (max-width: 992px) {
    .main-navbar {
        flex-direction: column;
    }
    .navbar-nav .nav-link {
        padding: 8px 25px !important;
    }
}

@media screen and (max-width: 480px) {
    .navbar-brand {
        width: 75%;
    } 
}